:root {
    /* Changeable variables */
    --texture: url("https://i.imgur.com/4XIYU6n.png") /* Damascus Black */;
    --image: url("https://i.imgur.com/kfKSOyV.png") /* Wallpaper */;
    --image_live: url("https://i.imgur.com/0WdBZJc.gif") /* Live Wallpaper */;
    --image_glass_overlay: linear-gradient(220deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 100%) center / cover;

    --color_primary: black;
    --color_secondary: red;

    --bg_channels: var(--image_glass_overlay), var(--image) center / cover /* <-- Choose between live or static */;
    --bg_guild: var(--texture);
    --bg_messages: var(--texture);
}

/* Layout -- Backgrounds */
.scroller-3X7KbA /* Guilds/Servers Panel */,
.tabBody-2dgbAs /* Friends Backgrounds */
{ 
    background: var(--bg_guild) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.content-1jQy2l::before { /* Chat Area Pseudo Background */
    height: 100% !important;
    width: 100% !important;
    background: var(--bg_messages) !important;
    background-size: cover !important;
    z-index: 0 !important;
}

.scroller-1ox3I2 /* Channels Background */,
.scroller-WSmht3 /* DMs List Background */
{ 
    background: var(--bg_channels) !important;
}

/* Layout -- Recolors */
.container-1-ERn5 .clickable-vvKY2q /* Server Name Area */,
.children-3xh0VB:after /* Drop shadow effect near channel name */,
.form-3gdLxP:before /* Drop effect above the chat box */,
.chatContent-3KubbW /* Chat Area */,
.members-3WRCEx /* Members Area */,
.member-2gU6Ar /* The background in each member */,
.peopleColumn-1wMU14 > *:not(.searchBar-2aylmZ) /* Friends Tab */
{ 
    background: transparent !important;
}

.header-3OsQeK /* Server Name Area */,
.container-ZMc96U /* Channel Name Area */,
.searchBar-3TnChZ /* DMs Searchbar */,
.container-YkUktl /* Character Avatar Background */,
.scrollableContainer-15eg7h /* Chatbox */,
.jumpToPresentBar-1cEnH0 /* Self Explanatory */,
.newMessagesBar-1hF-9G /* Self Explanatory */
{ 
    background: var(--color_primary) !important;
    
}

/* Layout -- Borders */
.wrapper-1_HaEi /* Guilds/Servers Panel */,
.scroller-1ox3I2 /* The scrolling channels */,
.scroller-WSmht3 /* DMs List */
{ 
    border-right: 2px solid !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(180deg, var(--color_primary) 0%, var(--color_secondary) 50%, var(--color_primary) 100%) !important;
}

.sidebar-1tnWFu { /* Channels Panel Full */
    
}

/*ETC*/
.guildSeparator-a4uisj { /* Little line near the DMs */
    background: var(--color_secondary) !important;
}

.jumpToPresentBar-1cEnH0 {
    opacity: 1 !important;
}

.header-3OsQeK, .searchBar-3TnChZ {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.tabBody-2dgbAs::before {
    background: transparent !important;
}

/*Scrollbar*/
.auto-2TJ1RH::-webkit-scrollbar-thumb,
.thin-RnSY0a::-webkit-scrollbar-thumb
{
    background-color: var(--color_secondary) !important;
}

.auto-2TJ1RH::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4) !important;
}

.divider-IqmEqJ {
    background: var(--color_secondary) !important
}

.content-3spvdd {
    background: var(--color_primary) !important;
    border-radius: 0px !important;
}

.content-3spvdd::before {

}

.premiumIcon-3PLiGh { /* Animated Server Booster Icon */
    color: transparent !important;
    background-image: url("https://i.imgur.com/13W3VWH.gif") !important;
    background-size: cover !important;
}

/* Discord logo vvv */
.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n:hover .childWrapper-1j_1ub svg,
.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub svg {
    color: transparent !important;
}

.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n:hover .childWrapper-1j_1ub,
.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
    background: url("https://i.imgur.com/nv6nhEA.gif") !important;
    background-size: cover !important;
}

.childWrapper-1j_1ub {
    -webkit-transition: background 0.15s ease-out, color 0.15s ease-out;
    transition: background 0.15s ease-out, color 0.15s ease-out;
  }
/* ^^^^^^^^^^^^^^^^ */

/*
.expandedFolderBackground-1kSAf6 {
    background-image: linear-gradient(180deg, var(--bg-overlay-color) 0%, var(--color_primary) 100%) !important;
}

.folderIconWrapper-1oRIZr {
    background-image: linear-gradient(180deg, var(--bg-overlay-color) 0%, var(--color_primary) 100%) !important;
}
*/
