/*
    These selectors are taken directly from Discord using Inspect Element
    If you have questions, message me on my discord Reiko#3804

    Changelogs:
    V. 1.0.0 - Added some of the selectors of the layout. Some are not organized
    v. 1.0.1 - Added some minor selectors and avatar border on member list.
*/

:root {
    /* Changeable variables */
    --texture: url("https://i.imgur.com/4XIYU6n.png") /* Damascus Black */;
    --image: url("https://i.imgur.com/kfKSOyV.png") /* Wallpaper */;
    --image_live: url("https://i.imgur.com/0WdBZJc.gif") /* Live Wallpaper */;
    --image_glass_overlay: linear-gradient(220deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 100%) center / cover;

    --color_primary: black;
    --color_secondary: red;

    --bg_channels: var(--image_glass_overlay), var(--image) center / cover /* <-- Choose between live or static */;
    --bg_guild: var(--texture);
    --bg_messages: var(--texture);
}

/* Layout -- Backgrounds */
.scroller-3X7KbA /* Guilds/Servers Panel */,
.tabBody-2dgbAs /* Friends Backgrounds */
{ 
    background: var(--bg_guild) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.content-1jQy2l::before { /* Chat Area Pseudo Background */
    height: 100% !important;
    width: 100% !important;
    background: var(--bg_messages) !important;
    background-size: cover !important;
    z-index: 0 !important;
}

.scroller-1ox3I2 /* Channels Background */,
.scroller-WSmht3 /* DMs List Background */
{ 
    background: var(--bg_channels) !important;
}

/* Layout -- Recolors */
.container-1-ERn5 .clickable-vvKY2q /* Server Name Area */,
.children-3xh0VB:after /* Drop shadow effect near channel name */,
.form-3gdLxP:before /* Drop effect above the chat box */,
.chatContent-3KubbW /* Chat Area */,
.members-3WRCEx /* Members Area */,
.member-2gU6Ar /* The background in each member */,
.peopleColumn-1wMU14 > *:not(.searchBar-2aylmZ) /* Friends Tab */
{ 
    background: transparent !important;
}

.header-3OsQeK /* Server Name Area */,
.container-ZMc96U /* Channel Name Area */,
.searchBar-3TnChZ /* DMs Searchbar */,
.container-YkUktl /* Character Avatar Background */,
.scrollableContainer-15eg7h /* Chatbox */,
.jumpToPresentBar-1cEnH0 /* Self Explanatory */,
.newMessagesBar-1hF-9G /* Self Explanatory */,
.unreadBar-elBRZx /* Self-Explanatory */
{ 
    background: var(--color_primary) !important;
    
}

.item-2LIpTv {
    background: red !important;
}

/* Layout -- Borders */
.wrapper-1_HaEi /* Guilds/Servers Panel */,
.scroller-1ox3I2 /* The scrolling channels */,
.scroller-WSmht3 /* DMs List */
{ 
    border-right: 2px solid !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(180deg, var(--color_primary) 0%, var(--color_secondary) 50%, var(--color_primary) 100%) !important;
}

.sidebar-1tnWFu { /* Channels Panel Full */
    
}

/* ETC */
.guildSeparator-a4uisj { /* Little line near the DMs */
    background: var(--color_secondary) !important;
}

.jumpToPresentBar-1cEnH0 {
    opacity: 1 !important;
}

.header-3OsQeK, .searchBar-3TnChZ {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.tabBody-2dgbAs::before {
    background: transparent !important;
}

/*Scrollbar*/
.auto-2TJ1RH::-webkit-scrollbar-thumb,
.thin-RnSY0a::-webkit-scrollbar-thumb
{
    background-color: var(--color_secondary) !important;
}

.auto-2TJ1RH::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4) !important;
}

.divider-IqmEqJ {
    background: var(--color_secondary) !important
}

.content-3spvdd {
    background: var(--color_primary) !important;
    border-radius: 0px !important;
}

.content-3spvdd::before {

}

.premiumIcon-3PLiGh { /* Animated Server Booster Icon */
    color: transparent !important;
    background-image: url("https://i.imgur.com/13W3VWH.gif") !important;
    background-size: cover !important;
}

/* Discord logo vvv */
.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n:hover .childWrapper-1j_1ub svg,
.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub svg {
    color: transparent !important;
}

.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n:hover .childWrapper-1j_1ub,
.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP svg foreignObject .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
    background: url("https://i.imgur.com/nv6nhEA.gif") !important;
    background-size: cover !important;
}

.childWrapper-1j_1ub {
    -webkit-transition: background 0.15s ease-out, color 0.15s ease-out;
    transition: background 0.15s ease-out, color 0.15s ease-out;
  }
/* ^^^^^^^^^^^^^^^^ */

/* Server Backgrounds -- The hover anim on icons */
[aria-label="Servers"] > div:not(.wrapper-38slSD):nth-child(2) div div svg .wrapper-3kah-n {
    background: rgba(0,0,0,0.4) !important;
}

.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) {
    background: rgba(0,0,0,0.4) !important;
    /*border: 2px solid red !important;
    margin-left: -2px !important;
    height: calc(100% - 10px) !important;
    bottom: 0px !important;*/
    /*animation-name: colorChange !important;
    animation-duration: 0.75s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: ease !important;*/
}

.folder-241Joy {
    background: transparent !important;
}

/* User Profile */
[aria-label="Reiko"] div .userPopoutInner-1hXSeY.userProfileInner-3F03PX.userProfileInnerThemedWithBanner-2624Yx { /* Profile Card Body */
    background: var(--image) center / cover !important;
}

[aria-label="Reiko"] .userPopoutOuter-3AVBmJ.userProfileOuter-1K_BYU { /* Behind the Profile Card body that acts as a border */
    animation-name: backgroundColorPalette !important;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

[aria-label="Reiko"] div div svg foreignObject div.banner-2boKnS { /* Removed banner */
    background: transparent !important;
}

[aria-label="Reiko"] div div .clickable-3iBWTO:before { /* The Avatar */
    content: "";
    height: 110% !important;
    width: 110% !important;
    border-radius: 80px !important;
    background-color: green !important;
    display: block;
    position: absolute;
    left: -5%;
    top: -5%;
    animation-name: backgroundColorPalette;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.avatar-6qzftW .wrapper-3Un6-K[aria-label^="Reiko"]:before { /* Member list -- Your avatar border */
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: -3px !important;
    border: 3px solid transparent;
    border-radius: 50%;
    animation-name: backgroundColorPalette !important;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* Anims */
@keyframes backgroundColorPalette {
    0% {
      background: linear-gradient(220deg, #ee6055 0%, #60d394 50%, #aaf683 100%) center / cover;
    }
    25% {
      background: linear-gradient(220deg, #60d394 0%, #aaf683 50%, #ffd97d 100%) center / cover;
    }
    50% {
      background: linear-gradient(220deg, #aaf683 0%, #ffd97d 50%, #ff9b85 100%) center / cover;
    }
    75% {
      background: linear-gradient(220deg, #ffd97d 0%, #ff9b85 50%, #ee6055 100%) center / cover;
    }
    100% {
      background: linear-gradient(220deg, #ff9b85 0%, #ee6055 50%, #60d394 100%) center / cover;
    }
}

@keyframes colorChange {
    0% {border-color: red !important;}
    25% {border-color: orange !important;}
    50% {border-color: yellow !important;}
    75% {border-color: green !important;}
    100% {border-color: blue !important;}
  }
